#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo 1              // Key 1: switch to layer 1
                &kp SPACE          // Key 2
                &kp LEFT           // Key 3
                &kp RIGHT          // Key 4
                &kp C_MUTE         // Key 5: encoder button
            >;
        };

        layer1 {
            bindings = <
                &trans                  // Key 1
                &kp C_PLAY_PAUSE        // Key 2
                &kp C_PREV              // Key 3
                &hold_tap_next_pairing  // Key 4: tap next / hold pair
                &kp C_MUTE              // Key 5 (still mute)
            >;
        };
    };
};